<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mi primera aplicación con Handlebars">
    <meta name="keywords" content="HTML, CSS, JavaScript, Handlebars">
    <link rel="stylesheet" href="/styles.css">
    <title>Mi App</title>
   
   
</head>
<body>
    {{{body}}}
</body>
</html>